* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background-color: darkgray;
  }
  
  html {
    height: 100%;
  }
  
  .header-container {
      background-image: url(https://image.freepik.com/free-vector/abstract-background-design-dark-gray_53876-43538.jpg);
      height: 100%;
      background-position: center;
      position: relative;
  }

  .header-text {
      text-align: center;
      color: blanchedalmond;
  }
  
 h1 {
     color:whitesmoke;
     margin: 0;
     text-align: center;
     padding: 20px;
     float: left;
 } 
 
nav {
    display: flex;
    color: blanchedalmond;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float: right;
}

  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;

  }

  h2 {
    color: #000000;
    margin: 0;
    text-align: left;
    padding: 20px;
    float: left;
} 

.about p {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

.work p {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

.contact p {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

.resume p {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

footer{
    color: #ffffff;
    text-align: center;
    float: center;
}